.navbar-my {
    padding-top: 10px;
    padding-left: 10px;
}
.navbar-item-my {
    padding-left: 0px !important;
}
body {
    background-color: black !important;
}
.container-my-1 {
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    margin: 10px;
    border-radius: 10px;

    /* flex-direction: column; */
}
.container-my-1>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-my-1>form>input[type = "text"] {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
.container-my-1>form>input[type = "submit"] {
    padding: 10px;
    background-color: chocolate;
    border-radius: 10px;
}