.navbar-my {
    padding-top: 10px;
    padding-left: 10px !important;
}
body {
    background-color: black !important;
}
#points {
    padding-top: 20px;
    color: aquamarine;
}
#container-my-1 {
    background-color: bisque;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}
#container-my-1>p {
    font-weight: bold;
    color: blue;
}
#container-my-1>h5 {
    color: blue;
}
.buttons>a>button {
    background-color: aqua;
    padding: 10px;
    border-radius: 10px !important;
}
.buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}